.jumbotron h1 {
  font-size: 4rem;
}

section header h1 {
  font-size: 2rem;
  font-weight: 400;
}

article header h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

section header {
  text-align: center;
}

#game-grid {
  display: block;
  border: none;
}

#running-games {
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 0.75rem;
}

.ship {
  background: darkcyan;
  border-radius: 5%;
  z-index: 1;
}

.salvo {
  background-color: lightcoral;
  border-radius: 50%;
  z-index: 2;
}

.hit {
  background-image: url("../Fire.gif");
  background-position: 50% 50%;
  /* Sets reference point to scale from */
  background-size: cover;
  /* Sets background image to cover entire element */
  font-weight: bold;
}

tr {
  display: block;
  border: none;
}

td {
  padding: 0px;
  margin: 0%;
  width: 3em;
  height: 3em;
  position: relative;
  display: inline-block;
}

td:after {
  content: '';
  display: inline-block;
}

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}

#btn-new-game {
  display: none;
}

td.holder {
  margin: 0px;
  padding: 0px;
}

.bote {
  background-position: 50% 50%;
  background-size: cover;
  position: sticky;
  border: solid greenyellow 1px;
}
#aircraft-carrier{
  width: 15em;
  height: 3em;
  background-image: url("../resources/Carrier.gif");
  background-size: 15em 3em;
}

#aircraft-carrier.vertical{
  width: 3em;
  height: 15em;
  background-image: url("../resources/Carrier-vertical.gif");
  background-size: 3em 15em;
}

#battleship{
  width: 12em;
  height: 3em;
  background-image: url("../resources/BattleShip.gif");
  background-size: 12em 3em;
}

#battleship.vertical{
  width: 3em;
  height: 12em;
  background-image: url("../resources/BattleShip-vertical.gif");
  background-size: 3em 12em;
}

#submarine{
  width: 9em;
  height: 3em;
  background-image: url("../resources/Submarino.gif");
  background-size: 9em 3em;
}

#submarine.vertical{
  width: 3em;
  height: 9em;
  background-image: url("../resources/Submarino-vertical.gif");
  background-size: 3em 9em;
}

#destroyer{
  width: 9em;
  height: 3em;
  background-image: url("../resources/Destroyer.gif");
  background-size: 9em 3em;
}

#destroyer.vertical{
  width: 3em;
  height: 9em;
  background-image: url("../resources/Destroyer-vertical.gif");
  background-size: 3em 9em;
}

#patrol-boat {
  width: 6em;
  height: 3em;
  background-image: url("../resources/PatrolBoat.gif");
  background-size: 6em 3em;
}

#patrol-boat.vertical {
  width: 3em;
  height: 6em;
  background-image: url("../resources/PatrolBoat-vertical.gif");
  background-size: 3em 6em;
}

div.holder {
  border: none;
  margin: 0px;
  padding: 0px;
  display:inline-block;
  width: 3em;
  height: 3em;
  border: solid lightslategray 1px;
}

.div-tr {
  height: 3em;
  width: 33em;
  margin-bottom: 0px;
}

div.header-numeros {
  border: none;
  display:inline-block;
  width: 3em;
  height: 3em;
  margin-bottom: -1em;
  text-align: center;
}

div.header-letras {
  border: none;
  display:inline-block;
  width: 3em;
  height: 3em;
  vertical-align: 1em;
  text-align: center;
}